body {
  margin: 0;
  line-height: normal;
}

:root {
  /* Common Style Variables */

  /* Color */
  --color-black: #000;
  --color-white: #fff;

  /* Padding */
  --padding-0: 0px;
  --padding-20: 20px;

  /* Font */
  --font-inknut-antiqua: Inknut Antiqua, Arial, sans-serif;
  --font-roboto-bold: Roboto Bold, Arial, sans-serif;

  /* FontSize */
  --fs-16: 16px;
  --fs-20: 20px;
}
